<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
</head>
<body>

    <div class="container">
        <h1>About Us</h1>
        
        <p>COVID-19 vaccination helps protect people by creating an immune response without the potentially severe illness or post-COVID conditions that can be associated with COVID-19 infection.</p>

        <p>Our mission is to provide Vaccination to all. We strive to provide accurate information and services to help individuals make informed decisions about their health and well-being.</p>

        <p>If you have any questions or concerns, feel free to Contact us. Thank you for trusting Us as your source of reliable health information.</p>
        
        <p><b>How do vaccines protect us?</b>
            <br>
            Vaccines can train your body to prevent sicknesses before they even start. They do this by introducing something called an antigen into the body, which imitates an infection and primes the immune system to respond</p>
         
        <p><b>What is the principal of Covid vaccine?</b><br>
            Ad26 vector-based COVID-19 vaccine encoding a prefusion-stabilized SARS-CoV-2 Spike immunogen induces potent humoral and cellular immune responses.</p>
    
        <p><b>Precaution Dose</b><br>
            All fully vaccinated adult citizens (18+ and have taken 2 doses) are eligible for precaution dose from 10/04/2022. Eligible citizens can avail a precaution dose at any Government or Private Vaccination Center. Citizens should carry their Final Certificate of vaccination (with details of both earlier doses). Citizens should use the same mobile number and ID card used for earlier doses.
            
            HCWs, FLWs and Citizens aged 60 years or more, shall continue to receive precaution dose vaccination at any CVC, including free of charge vaccination at Government Vaccination Center.
            
            For international travel, a precaution dose can be administered to such beneficiary less than 9 months to at a minimum interval of 3 months (90 days) from the date of administration of the second dose as recorded on Co-WIN as per the requirement of the destination country. All Vaccination Centers in the State where the precaution dose is being administered are eligible to administer the precaution dose.</p>

            <p><b>CONTACT US</b></p> 
            <p>Helpline: +91-11-23978046 (Toll Free - 1075 ) <a href="#" class="home-button" routerLink="/home">Go to Home</a></p>
            
            <p>Technical Helpline: 0120-4783222</p>
            
        
    </div>

</body>
</html>
